[Unit]
Description=adsb-first-run
Requires=local-fs.target
After=local-fs.target
Before=ssh.service

[Service]
Type=simple
ExecStart=/usr/bin/adsbx-first-run
WorkingDirectory=/run
StandardOutput=inherit
StandardError=inherit
Restart=no
User=root

[Install]
WantedBy=multi-user.target

