[Unit]
Description=adsbexchange-feed
Wants=network.target
After=network.target
After=adsbexchange-first-run.service

[Service]
User=pi
EnvironmentFile=/boot/adsb-config.txt
RuntimeDirectory=adsbexchange-feed
RuntimeDirectoryMode=0755
ExecStart=/usr/local/bin/adsbexchange-feed.sh
Type=simple
Restart=on-failure
RestartSec=30
RestartPreventExitStatus=64
SyslogIdentifier=adsbexchange-feed

[Install]
WantedBy=default.target
