[Unit]
Wants=network.target
After=network.target
After=adsbexchange-first-run.service

[Service]
EnvironmentFile=/boot/adsbx-978env
SyslogIdentifier=adsbexchange-978
RuntimeDirectory=adsbexchange-978
User=pi
RuntimeDirectoryMode=0755
ExecStart=/usr/bin/adsbx-978-start
Type=simple
Restart=on-failure
RestartSec=30
Nice=5

[Install]
WantedBy=default.target
