
[Unit]
Description=adsbexchange-mlat
Wants=network.target
After=network.target
After=adsbexchange-first-run.service

[Service]
EnvironmentFile=/boot/adsb-config.txt
EnvironmentFile=/boot/adsbx-env
User=pi
ExecStart=/usr/local/bin/mlat.sh
Type=simple
Restart=on-failure
RestartSec=30
RestartPreventExitStatus=64
SyslogIdentifier=adsbexchange-mlat

[Install]
WantedBy=default.target
