# readsb service for systemd

[Unit]
Description=readsb ADS-B receiver
Documentation=https://github.com/mictronics/readsb
Wants=network.target
After=network.target
After=adsbexchange-first-run.service

[Service]
EnvironmentFile=/boot/adsb-config.txt
EnvironmentFile=/boot/adsbx-env
User=readsb
RuntimeDirectory=readsb
RuntimeDirectoryMode=0755
ExecStart=/usr/local/bin/readsb.sh
Type=simple
Restart=always
RestartSec=15
StartLimitInterval=1
StartLimitBurst=100
Nice=-5
[Install]
WantedBy=default.target
